.button {
  /* width: 328px; */
  height: 45px;
  border-radius: 20px;
  background-color: #E99852;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #52A4F5;
}
