.searchForm{
   position: relative;
}

.searchButton{
   position: absolute;
   top: 1px;
   right: -2px;
   background-color: #4072A7;
   border: none;
   color: #fff;
   padding: 15px 30px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
  font-size: 15px;
}

.searchList{
display: flex;
    background-color: #fff;
 padding: 10px 60px;
   border-radius: 15px;
   border: 4px solid #4072A7;
   align-items: center;
   
}

.searchBarItem:not(:last-child){
   margin-right: 100px;
}